#divChart{
    display: flexbox;
    width: 150vh;
    height: 1500px;
    border-width: 9;
    color: 'blue';
}

.chartContainer{
    display: block;
    /* width: 1000px; */
    height: 1500px;
    border-width: 9;
    color: 'blue';
    font-weight: bold;
}