#divChart{
    display: block;
    width: 600px;
    height: 500px;
    border-width: 1;
    color: 'blue';
}

.chartContainer{
    display: block;
    width: 600px;
    height: 500px;
    border-width: 1;
    color: 'blue';
    font-weight: bold;
}