/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .mat-accent .mat-slider-thumb {
    background-color: rgb(223, 29, 29);
    border: solid 4px rgb(136, 12, 219);
  } */


  .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 2px;
  }